SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
QUIZ_REPORT_FROM_EMAIL=admin@the8thelement.in
QUIZ_REPORT_REPLY_TO_EMAIL=admin@the8thelement.in
QUIZ_REPORT_ADMIN_COPY_EMAIL=admin@the8thelement.in
NEWSLETTER_TO_EMAIL=admin@the8thelement.in
